<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
    <div class="header">
        <b><%- text %></b>
    </div>
    <aside class="menu">
        <ul>
        <% nav.forEach((nav)=>{ %>
            <li><a href="<%= nav.link %>" ><%= nav.title %></a></li>
        <% }); %>
        </ul>
    </aside>
    <section class="main">        
        <div class="chat box">
            <% const processedID = []; %>
           <% chats.forEach((chat)=>{ %>
                <% const reciever = chat.reciever; %>
                <% const channel = chat.channel; %>
                <% if( processedID.includes(reciever._id) || processedID.includes(channel._id)) return; %>
                <div>
                    <% if(reciever) { %>
                        <span class="name"><%= reciever.username %></span>
                    <%  } else if(channel){ %>
                        <span class="name"><%= channel.channel_name ?? channel.channel_id; %></span>
                    <% } %>
                </div>
            <% }); %>
        </div>
        <div class="chat load">
            <div class="message container">

            </div>
            <div class="message box">
                <textarea name="" id="" class="message edit"></textarea>
            </div>
        </div>
    </section>
    </main>
</body>
</html>